<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <div class="alert alert-secondary">
            <p>
              Are you sure you want to delete the blog post titled "<strong
                ><%= blog.title %></strong
              >"?
            </p>
             <form method="post" action="/admin/blog/delete/<%= blog.blogId %>">
              <input type="hidden" name="blogId" value="<%= blog.blogId %>" />
              <button type="submit" class="btn btn-danger">Delete</button>
              <a href="/admin/blogs" class="btn btn-secondary">Close</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
