<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 50px">ID</th>
                <th style="width: 150px">Image</th>
                <th>Title</th>
                <th style="width: 130px"></th>
              </tr>
            </thead>
            <tbody>
              <% blogs.forEach(blog => { %>
              <tr>
                <td><%= blog.blogId %></td>
                <td>
                  <img
                    src="/static/images/<%= blog.blogimage %>"
                    class="img-fluid"
                  />
                </td>
                <td><%= blog.title %></td>
                <td>
                  <a
                    class="btn btn-sm btn-primary"
                    href="/admin/blogs/<%= blog.blogId %>"
                    >Edit
                  </a>
                  <a
                    class="btn btn-sm btn-danger"
                    href="/admin/blogs/<%= blog.blogId %>"
                    >Delete
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
